services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../../backend/public:/var/www/html/public
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  backend:
    build:
      context: ../../
      dockerfile: infra/production/Dockerfile.backend
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    env_file:
      - .env.production
    networks:
      - app-network

  frontend:
    build:
      context: ../../
      dockerfile: infra/production/Dockerfile.frontend
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  worker:
    build:
      context: ../../
      dockerfile: infra/production/Dockerfile.backend
    command: php artisan queue:work
    env_file:
      - .env.production
    depends_on:
      - redis
      - db
    networks:
      - app-network

  db:
    image: postgres:16
    volumes:
      - pg_data_prod:/var/lib/postgresql/data
    env_file:
      - .env.production
    networks:
      - app-network
    restart: always

  redis:
    image: redis:7
    volumes:
      - redis_data_prod:/data
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  pg_data_prod:
  redis_data_prod:
